<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="stylenew.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body>
   

    <main class="cart-main">
        <h1>Your Shopping Cart</h1>
        <%if(cartItems.length===0){%>
            <table class="cart-table">
                <tr>
                    <td colspan="5" class="NoItems">No items in cart</td>
                </tr>
            </table>
            <% } else { %>

                <table class="cart-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="cart-items">
                        <!-- Example Cart Item -->

                        <% cartItems.forEach(item=> { %>
                            <tr class="cart-item" id="cart-item-<%= item.productId %>">
                                <td>
                                    <!-- <img src="<%=item.product%>" alt="Product Image"> -->
                                    <span class="cart-item-name">
                                        <%=item.productName%>
                                    </span>
                                </td>
                                <td class="cart-item-price">
                                    <%=item.productPrice%>
                                </td>
                                <td>
                                    <input type="number" id="quantity-<%= item._id %>" value="<%=item.quantity%>"
                                        min="1" data-id="<%= item.productId %>">
                                </td>
                                <td class="cart-item-total">
                                    <%=(item.productPrice*item.quantity).toFixed(2)%>
                                </td>
                                <td>
                                    <button class="remove-btn" data-product-id="<%= item.productId %>">Remove</button>
                                </td>
                            </tr>
                            <% }) %>
                                <% } %>
                                    <!-- Repeat for more items -->
                    </tbody>
                </table>
                <a href="/productspage">Add more items</a>
                <div class="cart-summary">
                    <% if (grandTotal> 0) { %>
                        <!-- <p>Subtotal: <span id="cart-subtotal"></span></p> -->
                        <p>Cart Total: <span id="cart-total">Rs.<%= grandTotal.toFixed(0) %></span></p>
                        <a class="checkout-btn" href="/checkoutCOD">Proceed to Checkout</a>
                        <% } %>
                </div>
    </main>

    <script src="script.js"></script>
</body>

</html>