
<h2 id="Ordersh2">Customers</h2>
<div class="filters">
<input type="text" id="searchCustomerName" placeholder="Search by email or name" class="filter-divs searchCustomer">
<div class="filter-divs reset resetCustomer">Reset</div>
</div>

<div class="table-div">
    <table>
        <thead>
            <tr>
                <th>JOINING DATE</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(customer=> { %>
                <tr data-customer-id="<%=customer._id%>"  data-customer-name="<%= customer.username %>" data-customer-email="<%=customer.email%>">
                    <td class="Date">
                        <%= new Date(customer.createdAt).toLocaleString('en-US', { year: 'numeric' , month: '2-digit' ,
                            day: '2-digit' , hour: '2-digit' , minute: '2-digit' , hour12: true }) %>
                    </td>
                    </td>
                    <td class="customerName">
                        <%=customer.username%>
                    </td>
                   
                    <td class="customerEmail">
                        <%=customer.email%>
                   
                    <td>
                        <div class="dropdown">
                            <div class="Action">
                                <a href="#" data-value="delete" class="customer-action">Delete</a>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                <% }) %>
                    
        </tbody>
    </table>
</div>

