<h2>Dashboard Overview</h2>
<div class="sales-div">
    <div class="cards-sales" id="card-sale-1">
        <i class="fa-solid fa-layer-group"></i>
        <p>Today Orders</p>
        <% let todayTotalSum=0; %>
            <% if (todayOrders && todayOrders.length> 0) { %>
                <% todayOrders.forEach(order=> { %>
                    <% todayTotalSum +=order.totalAmount; %>
                        <% }); %>

                            <% } %>

                                <h5>$<%= todayTotalSum %>
                                </h5>
    </div>
    <div class="cards-sales" id="card-sale-2">
        <i class="fa-solid fa-layer-group"></i>
        <p>Yesterday Orders</p>
        <% let yesterdayTotalSum=0; %>
            <% if (yesterdayOrders && yesterdayOrders.length> 0) { %>
                <% yesterdayOrders.forEach(order=> { %>
                    <% yesterdayTotalSum +=order.totalAmount; %>
                        <% }); %>
                            <% } %>
                                <h5>$<%= yesterdayTotalSum %>
                                </h5>

    </div>
    <div class="cards-sales" id="card-sale-3">
        <i class="fa-solid fa-cart-shopping"></i>
        <p>This Week</p>
        <% let weekTotalSum=0; %>
            <% if (weekOrders && weekOrders.length> 0) { %>
                <% weekOrders.forEach(order=> { %>
                    <% weekTotalSum +=order.totalAmount; %>
                        <% }); %>

                            <% } %>

                                <h5>$<%= weekTotalSum %>
                                </h5>
    </div>
    <div class="cards-sales" id="card-sale-4">
        <i class="fa-solid fa-calculator"></i>
        <p>This Month</p>
        <% let monthTotalSum=0; %>
            <% if (monthOrders && monthOrders.length> 0) { %>
                <% monthOrders.forEach(order=> { %>
                    <% monthTotalSum +=order.totalAmount; %>
                        <% }); %>

                            <% } %>

                                <h5>$<%= monthTotalSum %>
                                </h5>
    </div>
    <div class="cards-sales" id="card-sale-5">
        <i class="fa-solid fa-calculator"></i>
        <p>This Year</p>
        <% let yearTotalSum=0; %>
            <% if (yearOrders && yearOrders.length> 0) { %>
                <% yearOrders.forEach(order=> { %>
                    <% yearTotalSum +=order.totalAmount; %>
                        <% }); %>
                            <% } %>

                                <h5>$<%= yearTotalSum %>
                                </h5>
    </div>
</div>
<div class="orders">
    <div class="orders-div">
        <div class="logo-order"><i class="fa-solid fa-cart-shopping"></i></div>
        <div class="details-order">
            <h4>Total Orders</h4>
            <h3>
                <%=allOrders%>
            </h3>
        </div>
    </div>
    <div class="orders-div">
        <div class="logo-order"><i class="fa-solid fa-rotate-right"></i></div>
        <div class="details-order">
            <h4>Orders Pending</h4>
            <h3>
                <%=pending%>
            </h3>
        </div>
    </div>
    <div class="orders-div">
        <div class="logo-order"><i class="fa-solid fa-truck"></i></div>
        <div class="details-order">
            <h4>Orders Processing</h4>
            <h3>
                <%=processing%>
            </h3>
        </div>
    </div>
    <div class="orders-div">
        <div class="logo-order"><i class="fa-solid fa-check"></i></div>
        <div class="details-order">
            <h4>Orders Delivered</h4>
            <h3>
                <%=delivered%>
            </h3>
        </div>
    </div>
</div>
<div class="graphs">
    <div class="graphs-div">
        <h3>Weekly Sales</h3>
        <div id="weekly-sales-data" data-sales="<%- JSON.stringify(weeklySales) %>"></div>
        <canvas id="weeklySalesChart"></canvas>

    </div>
    <div class="graphs-div">
        <h3>Best Selling Products</h3>
        <div id="best-selling-products-data" data-products='<%= JSON.stringify(productNames) %>' data-sales='<%= JSON.stringify(productSalesData)%>'></div>

        <canvas id="bestSellingProductsChart"></canvas>

    </div>
</div>