
<h2 id="Ordersh2">Orders</h2>
<div class="filters">

    <input type="text" id="searchCustomerName" placeholder="Search by customer name" class="filter-divs">

    <div class="dropdown filter-divs">
        <div class="currentStatus">Filter By Status</div>
        <div class="dropdown-content">
            <a href="#" data-value="delivered" class="filter-by-status">Delivered</a>
            <a href="#" data-value="pending" class="filter-by-status">Pending</a>
            <a href="#" data-value="processing" class="filter-by-status">Processing</a>
            <!-- <a href="#" data-value="cancelled" class="filter-by-status">Cancelled</a> -->
        </div>
    </div>
    <div class="dropdown filter-divs">
        <div class="currentDate">Filter By Days</div>
        <div class="dropdown-content">
            <a href="#" data-value="Last 5 days Orders" class="filter-by-date">Last 5 days Orders</a>
            <a href="#" data-value="Last 7 days Orders" class="filter-by-date">Last 7 days Orders</a>
            <a href="#" data-value="Last 15 days Orders" class="filter-by-date">Last 15 days Orders</a>
            <a href="#" data-value="Last 30 days Orders" class="filter-by-date">Last 30 days Orders</a>
        </div>
    </div>
    <div class="dropdown filter-divs">
        <div class="currentMethod">Filter by Payment Method</div>
        <div class="dropdown-content">
            <a href="#" data-value="card" class="filter-by-method">Card</a>
            <a href="#" data-value="cod" class="filter-by-method">COD</a>

        </div>
    </div>

    <label for="Startdate">Start Date:</label>
    <input type="date" class="filter-divs date"  name="Startdate" id="Startdate">
    <label for="Enddate">End Date:</label>
    <input type="date" class="filter-divs date" name="Enddate" id="Enddate">
    <div class="filter-divs reset">Reset</div>

</div>
<div class="table-div">
    <table>
        <thead>
            <tr>
                <th>ORDER TIME</th>
                <th>CUSTOMER NAME</th>
                <th>METHOD</th>
                <th>AMOUNT</th>
                <th>STATUS</th>
                <th id="actionth">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order=> { %>
                <tr data-order-id="<%=order._id%>" data-status="<%= order.status %>" data-method="<%= order.method %>" data-customer-name="<%= order.customerName %>">
                    <td class="Date">
                        <%= new Date(order.createdAt).toLocaleString('en-US', { year: 'numeric' , month: '2-digit' ,
                            day: '2-digit' , hour: '2-digit' , minute: '2-digit' , hour12: true }) %>
                    </td>
                    </td>
                    <td class="customerName">
                        <%=order.customerName%>
                    </td>
                    <td class="method">
                        <%=order.method%>
                    </td>
                    <td class="totalAmount">
                        <%=order.totalAmount%>
                    </td>
                    <td class="status">
                        <%=order.status%>
                    </td>
                    <td>
                        <div class="dropdown">
                            <div class="Action">Action</div>
                            <div class="dropdown-contentforaction">
                                <a href="#" data-value="pending" class="status-option">Pending</a>
                                <a href="#" data-value="processing" class="status-option">Processing</a>
                                <a href="#" data-value="delivered" class="status-option">Delivered</a>
                                <!-- <a href="#" data-value="cancelled" class="status-option">Cancelled</a> -->
                            </div>
                        </div>
                        
                    </td>
                </tr>
                <% }) %>
                    
        </tbody>
    </table>
</div>