<h2 id="Ordersh2">Products</h2>
<div class="filters" class="add-product"><button class=" filter-divs reset add-product">Add Product</button></div>
<div id="productFormContainer" class="product-form-container">
    <form id="addProductForm">
        <h2>Add Product</h2>
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="Product_name" required>

        <label for="productPrice">Product Price:</label>
        <input type="number" step="0.01" id="productPrice" name="Product_price" required>

        <!-- <label for="productImageURL">Product Image URL:</label>
        <textarea id="productImageURL" name="Product_image_url" required></textarea> -->

        <label for="productImage">Upload Product Image:</label>
        <input type="file" id="productImage" name="Product_image" accept="image/*" required>

        <label for="productDescription">Product Description:</label>
        <textarea id="productDescription" name="Product_description" required></textarea>

        <label for="productCategory">Product Category:</label>
        <textarea id="productCategory" name="Product_category" required></textarea>

        <label for="productStock">Product Stock:</label>
        <textarea id="productStock" name="Product_stock" required></textarea>

        <label for="productRating">Product Rating:</label>
        <textarea id="productRating" name="Product_rating" required></textarea>

        <!-- <label for="productModelURL">Product Model URL:</label>
        <textarea id="productModelURL" name="Product_model_url" required></textarea> -->

        <label for="productModelFile">Upload 3D Model:</label>
        <input type="file" id="productModelFile" name="Product_model_file" accept=".glb, .gltf" required>


        <button type="submit" class="btn btn-success" id="addProductBtn">Add Product</button>
        <button type="button" id="cancelBtn" class="btn btn-secondary">Cancel</button>
    </form>
</div>
<div class="filters">


    <input type="text" id="searchCustomerName" placeholder="Search by product name" class="filter-divs">

    <div class="dropdown filter-divs">
        <div class="currentCategory">Category</div>
        <div class="dropdown-content">
            <a href="#" data-value="nosepin" class="filter-by-category">Nosepin</a>
            <a href="#" data-value="eyewear" class="filter-by-category">Eyewear</a>
            <a href="#" data-value="earing" class="filter-by-category">Earing</a>
            <a href="#" data-value="sunglasses" class="filter-by-category">Sunglasses</a>
        </div>
    </div>
    <div class="dropdown filter-divs">
        <div class="currentOther">Others</div>
        <div class="dropdown-content">
            <a href="#" data-value="Low to High Price" class="filter-by-other">Low to High Price</a>
            <a href="#" data-value="High to Low Price" class="filter-by-other">High to Low Price</a>
            <a href="#" data-value="Status-Out of Stock" class="filter-by-other">Status-Out of Stock</a>
            <a href="#" data-value="Status-Selling" class="filter-by-other">Status-Selling</a>
            <a href="#" data-value="Published" class="filter-by-other">Published</a>
            <a href="#" data-value="Unpublished" class="filter-by-other">Unpublished</a>

        </div>


    </div>
    <div class="filter-divs reset">Reset</div>

</div>

<div class="table-div">
    <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>CATEGORY</th>
                <th>PRICE</th>
                <th>STOCK</th>
                <th>STATUS</th>
                <th>VIEW</th>
                <th>PUBLISHED</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product=> { %>
                <tr data-product-id="<%=product._id%>">
                    <td class="productName">
                        <%=product.Product_name%>
                    </td>
                    <td class="category">
                        <%=product.Product_category%>
                    </td>
                    <td class="price">
                        <%=product.Product_price%>
                    </td>
                    <td class="stock">
                        <%=product.Product_stock%>
                    </td>
                    <td class="status">
                        <%if(product.Product_stock===0){%>
                            Out of Stock
                            <%}else{%>
                                Selling
                                <%}%>
                    </td>
                    <td class="view">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </td>
                    <td class="published">
                        <label class="switch">
                            <input type="checkbox" class="toggle-publish" data-id="<%= product._id %>" <% if
                                (product.is_Published) { %> checked <% } %>>
                                <span class="slider"></span>
                        </label>
                    </td>


                    <td>
                        <div class="dropdown">
                            <div class="Action">Action</div>
                            <div class="dropdown-contentforaction">
                                <a href="#" data-value="delete" class="status-option product-action">Delete</a>
                                <a href="#" data-value="update" class="status-option" id="updateBTN">Update</a>
                            </div>
                        </div>

                    </td>
                </tr>
                <% }) %>

        </tbody>
    </table>
</div>

<div id="productModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <div class="flex-row">
            <img class="productImage" src="" alt="Product Image" style="width:200px;height:200px;">
            <div class="flex-col">
                <h2 class="prodName"></h2>
                <p><strong>Price:</strong> $<span class="productPrice"></span></p>
                <p><strong>Description:</strong> <span class="productDescription"></span></p>
                <p><strong>Rating:</strong> <span class="productRating"></span></p>

            </div>
        </div>


    </div>
</div>