<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products | Adorn Ease</title>
    <link rel="stylesheet" href="/stylenew.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scriptnew.js" defer></script>

    <script src="/script.js"></script>

</head>

<body>

    <header>
        <nav class="navbar">
            <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
            <div class="center-content">
                <a href="/">Home</a>
                <a href="#about">About</a>
                <a href="#about">ADORN EASE</a>
                <a href="#collection">Collection</a>
                <a href="#contact">Contact Us</a>
            </div>
            <div class="right-content">
                <div class="dropdown">
                    <a href="#" class="dropbtn">
                        <img src="../images/icons8-male-user-50.png" alt="Account" />
                    </a>
                    <div class="dropdown-content">
                        <a href="/SignUp">Sign Up</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
                <img src="../images/icons8-purchase-order-30.png" alt="Account" />
                <img src="../images/icons8-cart-50.png" alt="Account" />
            </div>
        </nav>

        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>
            <div class="sidebar-item"><a href="/productspage">All Products</a></div>
            <!-- <div class="sidebar-item"><a href="#glasses">Glasses</a></div> -->
            <!-- <div class="sidebar-item"><a href="#nosepins">Nosepins</a></div> -->
            <!-- <div class="sidebar-item"><a href="#new-arrivals">New Arrivals</a></div> -->
            <!-- <div class="sidebar-item"><a href="#best-sellers">Best Sellers</a></div> -->
            <div class="sidebar-item"><a href="/checkoutpage">checkout</a></div>
            <div class="sidebar-item"><a href="#account">My Account</a></div>
            <!-- <div class="sidebar-item"><a href="/wishlist">Wishlist</a></div> -->
            <div class="sidebar-item">
                <a href="#order-history">Order History</a>
            </div>
            <div class="sidebar-item"><a href="#support">Customer Support</a></div>
        </div>
    </header>

    <!-- Slim Image Carousel -->
    <!-- <section class="carousel">
        <div class="carousel-slide">
            <img src="images/m14.jpeg" alt="Carousel Image 1">
            
            
            
        </div>
    </section> -->
    <div class="carousel">

        <div class="list">


            <div class="item" style="background-image: url(../images/bag.jpg);">

                <div class="content">
                    <div class="title" style="color: black;">ADD</div>
                    <div class="name" style="color: black;">TO CART</div>
                    <div class="des" style="color: black;">add to cart now and get your favourite product at your
                        doorstep</div>
                    <div class="btn">
                        <button>Try Now</button>
                        <button>View All</button>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(../images/p22.jpg);">

                <div class="content">
                    <div class="title" style="color: white;">SOMETHING</div>
                    <div class="name">NEW</div>
                    <div class="des">Just for You – Try & Buy at Home!</div>
                    <div class="btn">
                        <button>Try Now</button>
                        <button>View All</button>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(../images/m6.jpeg);">

                <div class="content">
                    <div class="title">A NEW</div>
                    <div class="name" style="color: black;">WAY TO SHOP</div>
                    <div class="des" style="color: black;">Virtually Try On Jewelry from Your Couch!</div>
                    <div class="btn">
                        <button>Try Now</button>
                        <button style=" background: transparent;
                        color: #000000cb;
                        border: 2px solid #000000;
                        transition: 0.3s;">View All</button>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(../images/p33.jpg);">

                <div class="content">
                    <div class="title">NEW</div>
                    <div class="name">COLLECTION</div>
                    <div class="des">Get your hands on new collection before they go out of stock</div>
                    <div class="btn">
                        <button>Try Now</button>
                        <button>View All</button>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(../images/p44.jpg);">

                <div class="content">
                    <div class="title">WONDERING</div>
                    <div class="name" style="color: rgb(105, 28, 28);">HOW IT LOOKS?</div>
                    <div class="des" style="color: black;">No problem at all,Try It Virtually – It’s All at Home!</div>
                    <div class="btn">
                        <button>Try Now</button>
                        <button>View All</button>
                    </div>
                </div>

            </div>

            <div class="item" style="background-image: url(../images/p55.jpg);">

                <div class="content">
                    <div class="title" style="color: rgb(192, 135, 145);">YOU</div>
                    <div class="name">LOOK GOOD</div>
                    <div class="des">what are you waiting for, add your favorite product to cart</div>
                    <div class="btn">
                        <button>Try Now</button>
                        <button>View All</button>
                    </div>
                </div>

            </div>


            <!-- <div class="item" style="background-image: url(images/p9.jpeg);">
                
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">PARROT</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
                
            </div>
            
            <div class="item" style="background-image: url(image/heron.jpeg);">
                
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">HERON</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
                
            </div>
            
            <div class="item" style="background-image: url(image/butterfly2.jpg);">
                
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">BUTTERFLY</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
                
            </div>
            
            <div class="item" style="background-image: url(image/parrot2.jpg);">
                
                <div class="content">
                    <div class="title">SLIDER</div>
                    <div class="name">PARROT</div>
                    <div class="des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis culpa similique consequuntur, reprehenderit dicta repudiandae.</div>
                    <div class="btn">
                        <button>See More</button>
                        <button>Subscribe</button>
                    </div>
                </div>
                
            </div> -->

        </div>

        <!--next prev button-->
        <div class="arrows">
            <button class="prev">
                <
                    <button class="next">></button>
        </div>


        <!-- time running -->
        <div class="timeRunning"></div>

    </div>

    <!-- Products Title -->
    <h1 class="products-title">PRODUCTS</h1>

    <!-- Filter and Sort Section -->
    <section class="filter-sort">
        <div class="filter-dropdown">
            <label for="filter">Filter By:</label>
            <select id="filter">
                <option value="all">All</option>
                <option value="eyewear">Eyewear</option>
                <option value="nosepin">Nosepins</option>

                <option value="earing">Earrings</option>
            </select>
        </div>
        <div class="sort-dropdown">
            <label for="sort">Sort By:</label>
            <select id="sort">
                <option value="default">Default</option>
                <option value="price-low-high">Price: Low to High</option>
                <option value="price-high-low">Price: High to Low</option>
                <option value="new-arrivals">New Arrivals</option>
            </select>
        </div>
    </section>

    <!-- Products Section -->
    <section class="products-grid">
        <% products.forEach(product=> { %>
            <div class="product-card">
                <img src="<%=product.Product_image_url%>"" alt=" <%=product.Product_name %>">
                <div class="product-info">
                    <h3>
                        <%=product.Product_name%>
                    </h3>
                    <p>$<%=product.Product_price%>
                    </p>
                    <div class="product-actions">
                        <button class="quick-view">Quick View</button>
                        <button class="product-btn add-to-cart-btn add-to-cart" data-product-id="<%= product._id %>"
                            data-product-name="<%= product.Product_name %>"
                            data-product-price="<%= product.Product_price %>">Add to Cart</button>
                        <!-- <span class="wishlist-icon">❤️</span> -->
                    </div>
                </div>
            </div>
            <% }) %>


    </section>


</body>

</html>